<footer>
    <div class="footer clearfix mb-0 text-muted">
        <div class="float-start">
            <p>2022 &copy; Gênio das Vendas</p>
        </div>
    </div>
</footer>
</div>
</div>
<script src="{{URL}}/resources/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="{{URL}}/resources/assets/js/bootstrap.bundle.min.js"></script>

<script src="{{URL}}/resources/assets/vendors/apexcharts/apexcharts.js"></script>
<script src="{{URL}}/resources/assets/js/pages/dashboard.js"></script>

<script src="{{URL}}/resources/assets/js/mazer.js"></script>
</body>

</html>