<footer>
    <div class="footer clearfix mb-0 text-muted">
            <p style="text-align: right; margin-right: 40px;">2022 &copy; Gênio das Vendas</p>
    </div>
</footer>
</div>
</div>
<script src="{{URL}}/resources/assets/vendors/fontawesome/all.min.js"></script>
<script src="{{URL}}/resources/assets/js/jquery-3.6.0.min.js" type="text/javascript"></script>
<script src="{{URL}}/resources/assets/js/pages/mailing.js"></script>
<script src="{{URL}}/resources/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="{{URL}}/resources/assets/js/bootstrap.bundle.min.js"></script>

<script src="{{URL}}/resources/assets/js/mazer.js"></script>

<!-- dataTables -->
<script src="{{URL}}/resources/assets/vendors/jquery-datatables/jquery.dataTables.min.js"></script>
<script src="{{URL}}/resources/assets/vendors/jquery-datatables/custom.jquery.dataTables.bootstrap5.min.js"></script>
<script src="{{URL}}/resources/assets/vendors/jquery-datatables/dataTables.responsive.min.js"></script>
<script src="{{URL}}/resources/assets/vendors/jquery-datatables/dataTables.buttons.min.js"></script>

<!-- jquery mask -->
<script src="{{URL}}/resources/assets/vendors/mask-plugin/jquery.mask.js"></script>
<script src="{{URL}}/resources/assets/vendors/mask-plugin/mask.js"></script>

<!-- custom-->
<script src="{{URL}}/resources/assets/js/pages/general.js"></script>

</body>
</html>