 <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <div class="d-flex justify-content-between">
                    <div class="logo">
                        <a href="{{URL}}"><img src="{{URL}}/resources/assets/images/logo/Genio2.png" alt="Gênio" srcset="" style="width: 100%;height: 100%;"></a>
                    </div>
                    <div class="toggler">
                        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul class="menu">
                    <li class="sidebar-title">Menu</li>

                    <li class="sidebar-item active ">
                        <a href="{{URL}}" class='sidebar-link'>
                            <i class="bi bi-house-fill"></i>
                            <span>Home</span>
                        </a>
                    </li>

                    <li class="sidebar-title">Vendedor</li>

                    <li class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-person-lines-fill"></i>
                            <span>Mailings</span>
                        </a>
                        <ul class="submenu ">
                            <li class="submenu-item ">
                                <a href="{{URL}}/vendedor/mailings/lista1">Lista 1</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="{{URL}}/vendedor/mailings/lista2">Lista 2</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-bar-chart-fill"></i>
                            <span>Resultados</span>
                        </a>
                        <ul class="submenu">
                            <li class="submenu-item ">
                                <a href="{{URL}}/vendedor/resultados/vendas">Vendas</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="{{URL}}/vendedor/resultados/follow">Follow-UP</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="{{URL}}/vendedor/resultados/geral">Geral</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-title">Pastas</li>

                    {{folders}}


                    <li {{display}} class="sidebar-title">Administrativo</li>

                    <li {{display}} class="sidebar-item has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-file-earmark-excel-fill"></i>
                            <span>Inputs</span>
                        </a>
                        <ul class="submenu ">
                            <li class="submenu-item ">
                                <a href="{{URL}}/adm/input/empresas">Empresas</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="{{URL}}/adm/input/mailings">Mailings</a>
                            </li>
                        </ul>
                    </li>

                    <li {{display}} class="sidebar-item  ">
                        <a href="{{URL}}/usuarios/lista" class='sidebar-link'>
                            <i class="bi bi-person-badge-fill"></i>
                            <span>Usuários</span>
                        </a>
                    </li>

                    <li {{display}} class="sidebar-item  ">
                        <a href="{{URL}}/empresa/lista" class='sidebar-link'>
                            <i class="bi bi-building"></i>
                            <span>Empresa</span>
                        </a>
                    </li>

                    <li class="sidebar-item  ">
                        <a href="{{URL}}/login/logout" class='sidebar-link'>
                            <i class="bi bi-backspace-fill"></i>
                            <span>Sair</span>
                        </a>
                    </li>

                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
 </div>