 <div class="sidebar-wrapper active">
            <div class="sidebar-header position-relative">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="logo">
                    <a href="{{URL}}">Gênio</a>
                  </div>
                  <div class="theme-toggle d-flex gap-2 align-items-center mt-2">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--system-uicons" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 21 21">
                      <g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M10.5 14.5c2.219 0 4-1.763 4-3.982a4.003 4.003 0 0 0-4-4.018c-2.219 0-4 1.781-4 4c0 2.219 1.781 4 4 4zM4.136 4.136L5.55 5.55m9.9 9.9l1.414 1.414M1.5 10.5h2m14 0h2M4.135 16.863L5.55 15.45m9.899-9.9l1.414-1.415M10.5 19.5v-2m0-14v-2" opacity=".3"></path>
                        <g transform="translate(-210 -1)">
                          <path d="M220.5 2.5v2m6.5.5l-1.5 1.5"></path>
                          <circle cx="220.5" cy="11.5" r="4"></circle>
                          <path d="m214 5l1.5 1.5m5 14v-2m6.5-.5l-1.5-1.5M214 18l1.5-1.5m-4-5h2m14 0h2"></path>
                        </g>
                      </g>
                    </svg>
                    <div class="form-check form-switch fs-6">
                      <input class="form-check-input me-0" type="checkbox" id="toggle-dark" style="cursor: pointer">
                      <label class="form-check-label"></label>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--mdi" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                      <path fill="currentColor" d="m17.75 4.09l-2.53 1.94l.91 3.06l-2.63-1.81l-2.63 1.81l.91-3.06l-2.53-1.94L12.44 4l1.06-3l1.06 3l3.19.09m3.5 6.91l-1.64 1.25l.59 1.98l-1.7-1.17l-1.7 1.17l.59-1.98L15.75 11l2.06-.05L18.5 9l.69 1.95l2.06.05m-2.28 4.95c.83-.08 1.72 1.1 1.19 1.85c-.32.45-.66.87-1.08 1.27C15.17 23 8.84 23 4.94 19.07c-3.91-3.9-3.91-10.24 0-14.14c.4-.4.82-.76 1.27-1.08c.75-.53 1.93.36 1.85 1.19c-.27 2.86.69 5.83 2.89 8.02a9.96 9.96 0 0 0 8.02 2.89m-1.64 2.02a12.08 12.08 0 0 1-7.8-3.47c-2.17-2.19-3.33-5-3.49-7.82c-2.81 3.14-2.7 7.96.31 10.98c3.02 3.01 7.84 3.12 10.98.31Z"></path>
                    </svg>
                  </div>
                  <div class="sidebar-toggler x">
                    <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                  </div>
                </div>
              </div>
              
            <div class="sidebar-menu">
                <ul class="menu">
                    <li class="sidebar-item active ">
                        <a href="{{URL}}" class='sidebar-link'>
                            <i class="bi bi-house-fill"></i>
                            <span>Home</span>
                        </a>
                    </li>

                    <li {{display_cep}} class="sidebar-title">Consulta</li>

                    <li {{display_cep}} class="sidebar-item">
                        <a href="{{URL}}/consulta/cep" class='sidebar-link'>
                            <i class="bi bi-map-fill"></i>
                            <span>CEP</span>
                        </a>
                    </li>

                    <li {{display_client}} class="sidebar-item">
                        <a href="{{URL}}/consulta/cliente" class='sidebar-link'>
                            <i class="bi bi-telephone-fill"></i>
                            <span>Cliente</span>
                        </a>
                    </li>

                    <li {{display_solar}} class="sidebar-item">
                        <a href="{{URL}}/consulta/solar" class='sidebar-link'>
                            <i class="bi bi-telephone-fill"></i>
                            <span>Solar</span>
                        </a>
                    </li>

                    <li {{display_seller}} class="sidebar-title">Vendedor</li>

                    <li {{display_seller_input}} class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-person-lines-fill"></i>
                            <span>Input</span>
                        </a>
                        <ul class="submenu ">
                            <li {{display_seller_input_solarbot1}} class="submenu-item">
                                <a href="{{URL}}/vendedor/input/solarbot1">Lista 1</a>
                            </li>
                            <li {{display_seller_input_solarbot2}} class="submenu-item">
                                <a href="{{URL}}/vendedor/input/solarbot2">Lista 2</a>
                            </li>
                            <li {{display_seller_input_solarbot3}} class="submenu-item">
                                <a href="{{URL}}/vendedor/input/solarbot3">Lista 3</a>
                            </li>
                            <li {{display_seller_input_finder}} class="submenu-item">
                                <a href="{{URL}}/vendedor/input/finder">Finder</a>
                            </li>
                        </ul>
                    </li>

                    <li {{display_seller_algar}} class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-person-lines-fill"></i>
                            <span>Algar</span>
                        </a>
                        <ul class="submenu ">
                            <li {{display_seller_algar_desabilitado}} class="submenu-item">
                                <a href="{{URL}}/vendedor/algar/base">Base</a>
                            </li>
                            <li {{display_seller_algar_cancelado}} class="submenu-item">
                                <a href="{{URL}}/vendedor/algar/cancelado">Cancelado</a>
                            </li>
                            <li {{display_seller_algar_proposta}} class="submenu-item">
                                <a href="{{URL}}/vendedor/algar/proposta">Proposta</a>
                            </li>
                            <li {{display_seller_algar_pendente_instalacao}} class="submenu-item">
                                <a href="{{URL}}/vendedor/algar/pendente-instalacao">Pendente Instalação</a>
                            </li>
                        </ul>
                    </li>

                    <li {{display_seller_americanet}} class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-person-lines-fill"></i>
                            <span>Americanet</span>
                        </a>
                        <ul class="submenu ">
                            <li {{display_seller_americanet_base}} class="submenu-item">
                                <a href="{{URL}}/vendedor/americanet/base">Base</a>
                            </li>
                            <li {{display_seller_americanet_cancelados}} class="submenu-item">
                                <a href="{{URL}}/vendedor/americanet/cancelados">Cancelados</a>
                            </li>
                            <li {{display_seller_americanet_pedidos}} class="submenu-item">
                                <a href="{{URL}}/vendedor/americanet/pedidos">Pedidos</a>
                            </li>
                        </ul>
                    </li>

                    <li {{display_seller_claro}} class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-person-lines-fill"></i>
                            <span>Claro</span>
                        </a>
                        <ul class="submenu ">
                            <li {{display_seller_claro_cancelado}} class="submenu-item">
                                <a href="{{URL}}/vendedor/claro/cancelado">Cancelado</a>
                            </li>
                            <li {{display_seller_claro_desabilitado}} class="submenu-item">
                                <a href="{{URL}}/vendedor/claro/desabilitado">Desabilitado</a>
                            </li>
                            <li {{display_seller_claro_proposta}} class="submenu-item">
                                <a href="{{URL}}/vendedor/claro/proposta">Proposta</a>
                            </li>
                            <li {{display_seller_claro_pendente_instalacao}} class="submenu-item">
                                <a href="{{URL}}/vendedor/claro/pendente-instalacao">Pendente Instalação</a>
                            </li>
                        </ul>
                    </li>


                    <li {{display_seller_desktop}} class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-person-lines-fill"></i>
                            <span>Desktop</span>
                        </a>
                        <ul class="submenu ">
                            <li {{display_seller_desktop_get}} class="sidebar-item has-sub">
                                <a href="#" class='sidebar-link'>GET</a>
                                <ul class="submenu">
                                    <li {{display_seller_desktop_get_base}} class="submenu-item ">
                                        <a href="{{URL}}/vendedor/desktop/get/base">Base</a>
                                    </li>
                                    <li {{display_seller_desktop_get_cancelados}} class="submenu-item ">
                                        <a href="{{URL}}/vendedor/desktop/get/cancelados">Cancelados</a>
                                    </li>
                                    <li {{display_seller_desktop_get_pedidos}} class="submenu-item ">
                                        <a href="{{URL}}/vendedor/desktop/get/pedidos">Pedidos</a>
                                    </li>
                                </ul>
                            </li>
                            <li {{display_seller_desktop_sis}} class="sidebar-item has-sub">
                                <a href="#" class='sidebar-link'>SIS</a>
                                <ul class="submenu">
                                    <li {{display_seller_desktop_sis_base}} class="submenu-item ">
                                        <a href="{{URL}}/vendedor/desktop/sis/base">Base</a>
                                    </li>
                                    <li {{display_seller_desktop_sis_cancelados}} class="submenu-item ">
                                        <a href="{{URL}}/vendedor/desktop/sis/cancelados">Cancelados</a>
                                    </li>
                                    <li {{display_seller_desktop_sis_pedidos}} class="submenu-item ">
                                        <a href="{{URL}}/vendedor/desktop/sis/pedidos">Pedidos</a>
                                    </li>
                                </ul>
                            </li>
                            <li {{display_seller_desktop_netbarretos}} class="sidebar-item has-sub">
                                <a href="#" class='sidebar-link'>NETBarretos</a>
                                <ul class="submenu">
                                    <li {{display_seller_desktop_netbarretos_base}} class="submenu-item ">
                                        <a href="{{URL}}/vendedor/desktop/netbarretos/base">Base</a>
                                    </li>
                                    <li {{display_seller_desktop_netbarretos_cancelados}} class="submenu-item ">
                                        <a href="{{URL}}/vendedor/desktop/netbarretos/cancelados">Cancelados</a>
                                    </li>
                                    <li {{display_seller_desktop_netbarretos_pedidos}} class="submenu-item ">
                                        <a href="{{URL}}/vendedor/desktop/netbarretos/pedidos">Pedidos</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li {{display_seller_net}} class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-person-lines-fill"></i>
                            <span>NET</span>
                        </a>
                        <ul class="submenu">
                            <li {{display_seller_net_cancelado}} class="submenu-item">
                                <a href="{{URL}}/vendedor/net/cancelado">Cancelado</a>
                            </li>
                            <li {{display_seller_net_desabilitado}} class="submenu-item">
                                <a href="{{URL}}/vendedor/net/desabilitado">Desabilitado</a>
                            </li>
                            <li {{display_seller_net_proposta}} class="submenu-item">
                                <a href="{{URL}}/vendedor/net/proposta">Proposta</a>
                            </li>
                            <li {{display_seller_net_pendente_instalacao}} class="submenu-item">
                                <a href="{{URL}}/vendedor/net/pendente-instalacao">Pendente Instalação</a>
                            </li>
                        </ul>
                    </li>

                    <li {{display_seller_vero}} class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-person-lines-fill"></i>
                            <span>Vero</span>
                        </a>
                        <ul class="submenu ">
                            <li {{display_seller_vero_base}} class="submenu-item">
                                <a href="{{URL}}/vendedor/vero/base">Base</a>
                            </li>
                            <li {{display_seller_vero_cancelados}} class="submenu-item">
                                <a href="{{URL}}/vendedor/vero/cancelados">Cancelados</a>
                            </li>
                            <li {{display_seller_vero_pedidos}} class="submenu-item">
                                <a href="{{URL}}/vendedor/vero/pedidos">Pedidos</a>
                            </li>
                        </ul>
                    </li>

                    <li {{display_seller}} class="sidebar-item has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-bar-chart-fill"></i>
                            <span>Resultados</span>
                        </a>
                        <ul class="submenu">
                            <li class="submenu-item ">
                                <a href="{{URL}}/vendedor/resultados/vendas">Vendas</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="{{URL}}/vendedor/resultados/follow">Follow-UP</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="{{URL}}/vendedor/resultados/geral">Geral</a>
                            </li>
                        </ul>
                    </li>

                    <li {{display_called}} class="sidebar-item">
                        <a href="{{URL}}/vendedor/chamados/lista" class='sidebar-link'>
                            <i class="bi bi-telephone-fill"></i>
                            <span>Chamados</span>
                        </a>
                    </li>

                    <li {{display_company}} class="sidebar-title">Pastas</li>

                    {{folders}}

                    <li {{display_supervisor}} class="sidebar-title">Supervisor</li>

                    <li {{display_supervisor}} class="sidebar-item has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-list-ul"></i>
                            <span>Resultados</span>
                        </a>
                        <ul class="submenu ">
                            <li class="submenu-item ">
                                <a href="{{URL}}/supervisor/resultados/solar">Solar</a>
                            </li>
                        </ul>
                    </li>

                    <li {{display_adm}} class="sidebar-title">Administrativo</li>

                    <li {{display_adm}} class="sidebar-item has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-file-earmark-excel-fill"></i>
                            <span>Inputs</span>
                        </a>
                        <ul class="submenu ">
                            <li class="submenu-item ">
                                <a href="{{URL}}/adm/input/empresas">Empresas</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="{{URL}}/adm/input/mailings">Mailings</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="{{URL}}/adm/input/solarbot1">Fila Solar bot 1</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="{{URL}}/adm/input/solarbot2">Fila Solar bot 2</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="{{URL}}/adm/input/solarbot3">Fila Solar bot 3</a>
                            </li>
                        </ul>
                    </li>

                    <li {{display_adm}} class="sidebar-item has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-person-badge-fill"></i>
                            <span>Usuário</span>
                        </a>
                        <ul class="submenu ">
                            <li class="submenu-item ">
                                <a href="{{URL}}/adm/usuarios/lista">Usuários</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="{{URL}}/adm/usuarios/chamados/lista">Chamados</a>
                            </li>
                        </ul>
                    </li>

                    <li {{display_adm}} class="sidebar-item  ">
                        <a href="{{URL}}/adm/empresa/lista" class='sidebar-link'>
                            <i class="bi bi-building"></i>
                            <span>Empresa</span>
                        </a>
                    </li>

                    <li {{display_adm}} class="sidebar-item  ">
                        <a href="{{URL}}/adm/mailings/lista" class='sidebar-link'>
                            <i class="bi bi-list-ul"></i>
                            <span>Mailings</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a href="{{URL}}/login/logout" class='sidebar-link'>
                            <i class="bi bi-backspace-fill"></i>
                            <span>Sair</span>
                        </a>
                    </li>

                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
 </div>