 <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <div class="d-flex justify-content-between">
                    <div class="logo">
                        <a href="{{URL}}"><img src="{{URL}}/resources/assets/images/logo/Genio2.png" alt="Gênio" srcset="" style="width: 230px;height: 180px;"></a>
                    </div>
                    <div class="toggler">
                        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul class="menu">
                    <li class="sidebar-item active ">
                        <a href="{{URL}}" class='sidebar-link'>
                            <i class="bi bi-house-fill"></i>
                            <span>Home</span>
                        </a>
                    </li>

                    <li {{display_cep}} class="sidebar-title">Consulta</li>

                    <li {{display_cep}} class="sidebar-item">
                        <a href="{{URL}}/consulta/cep" class='sidebar-link'>
                            <i class="bi bi-map-fill"></i>
                            <span>CEP</span>
                        </a>
                    </li>

                    <li {{display_client}} class="sidebar-item">
                        <a href="{{URL}}/consulta/cliente" class='sidebar-link'>
                            <i class="bi bi-telephone-fill"></i>
                            <span>Cliente</span>
                        </a>
                    </li>

                    <li {{display_seller}} class="sidebar-title">Vendedor</li>

                    <li {{display_seller_input}} class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-person-lines-fill"></i>
                            <span>Input</span>
                        </a>
                        <ul class="submenu ">
                            <li {{display_seller_input_mailing}} class="submenu-item">
                                <a href="{{URL}}/vendedor/input/mailing">Mailing</a>
                            </li>
                        </ul>
                    </li>

                    <li {{display_seller_algar}} class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-person-lines-fill"></i>
                            <span>Algar</span>
                        </a>
                        <ul class="submenu ">
                            <li {{display_seller_algar_desabilitado}} class="submenu-item">
                                <a href="{{URL}}/vendedor/algar/base">Base</a>
                            </li>
                            <li {{display_seller_algar_cancelado}} class="submenu-item">
                                <a href="{{URL}}/vendedor/algar/cancelado">Cancelado</a>
                            </li>
                            <li {{display_seller_algar_proposta}} class="submenu-item">
                                <a href="{{URL}}/vendedor/algar/proposta">Proposta</a>
                            </li>
                            <li {{display_seller_algar_pendente_instalacao}} class="submenu-item">
                                <a href="{{URL}}/vendedor/algar/pendente-instalacao">Pendente Instalação</a>
                            </li>
                        </ul>
                    </li>

                    <li {{display_seller_americanet}} class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-person-lines-fill"></i>
                            <span>Americanet</span>
                        </a>
                        <ul class="submenu ">
                            <li {{display_seller_americanet_base}} class="submenu-item">
                                <a href="{{URL}}/vendedor/americanet/base">Base</a>
                            </li>
                            <li {{display_seller_americanet_cancelados}} class="submenu-item">
                                <a href="{{URL}}/vendedor/americanet/cancelados">Cancelados</a>
                            </li>
                            <li {{display_seller_americanet_pedidos}} class="submenu-item">
                                <a href="{{URL}}/vendedor/americanet/pedidos">Pedidos</a>
                            </li>
                        </ul>
                    </li>

                    <li {{display_seller_claro}} class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-person-lines-fill"></i>
                            <span>Claro</span>
                        </a>
                        <ul class="submenu ">
                            <li {{display_seller_claro_cancelado}} class="submenu-item">
                                <a href="{{URL}}/vendedor/claro/cancelado">Cancelado</a>
                            </li>
                            <li {{display_seller_claro_desabilitado}} class="submenu-item">
                                <a href="{{URL}}/vendedor/claro/desabilitado">Desabilitado</a>
                            </li>
                            <li {{display_seller_claro_proposta}} class="submenu-item">
                                <a href="{{URL}}/vendedor/claro/proposta">Proposta</a>
                            </li>
                            <li {{display_seller_claro_pendente_instalacao}} class="submenu-item">
                                <a href="{{URL}}/vendedor/claro/pendente-instalacao">Pendente Instalação</a>
                            </li>
                        </ul>
                    </li>


                    <li {{display_seller_desktop}} class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-person-lines-fill"></i>
                            <span>Desktop</span>
                        </a>
                        <ul class="submenu ">
                            <li {{display_seller_desktop_get}} class="sidebar-item has-sub">
                                <a href="#" class='sidebar-link'>GET</a>
                                <ul class="submenu">
                                    <li {{display_seller_desktop_get_base}} class="submenu-item ">
                                        <a href="{{URL}}/vendedor/desktop/get/base">Base</a>
                                    </li>
                                    <li {{display_seller_desktop_get_cancelados}} class="submenu-item ">
                                        <a href="{{URL}}/vendedor/desktop/get/cancelados">Cancelados</a>
                                    </li>
                                    <li {{display_seller_desktop_get_pedidos}} class="submenu-item ">
                                        <a href="{{URL}}/vendedor/desktop/get/pedidos">Pedidos</a>
                                    </li>
                                </ul>
                            </li>
                            <li {{display_seller_desktop_sis}} class="sidebar-item has-sub">
                                <a href="#" class='sidebar-link'>SIS</a>
                                <ul class="submenu">
                                    <li {{display_seller_desktop_sis_base}} class="submenu-item ">
                                        <a href="{{URL}}/vendedor/desktop/sis/base">Base</a>
                                    </li>
                                    <li {{display_seller_desktop_sis_cancelados}} class="submenu-item ">
                                        <a href="{{URL}}/vendedor/desktop/sis/cancelados">Cancelados</a>
                                    </li>
                                    <li {{display_seller_desktop_sis_pedidos}} class="submenu-item ">
                                        <a href="{{URL}}/vendedor/desktop/sis/pedidos">Pedidos</a>
                                    </li>
                                </ul>
                            </li>
                            <li {{display_seller_desktop_netbarretos}} class="sidebar-item has-sub">
                                <a href="#" class='sidebar-link'>NETBarretos</a>
                                <ul class="submenu">
                                    <li {{display_seller_desktop_netbarretos_base}} class="submenu-item ">
                                        <a href="{{URL}}/vendedor/desktop/netbarretos/base">Base</a>
                                    </li>
                                    <li {{display_seller_desktop_netbarretos_cancelados}} class="submenu-item ">
                                        <a href="{{URL}}/vendedor/desktop/netbarretos/cancelados">Cancelados</a>
                                    </li>
                                    <li {{display_seller_desktop_netbarretos_pedidos}} class="submenu-item ">
                                        <a href="{{URL}}/vendedor/desktop/netbarretos/pedidos">Pedidos</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li {{display_seller_net}} class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-person-lines-fill"></i>
                            <span>NET</span>
                        </a>
                        <ul class="submenu">
                            <li {{display_seller_net_cancelado}} class="submenu-item">
                                <a href="{{URL}}/vendedor/net/cancelado">Cancelado</a>
                            </li>
                            <li {{display_seller_net_desabilitado}} class="submenu-item">
                                <a href="{{URL}}/vendedor/net/desabilitado">Desabilitado</a>
                            </li>
                            <li {{display_seller_net_proposta}} class="submenu-item">
                                <a href="{{URL}}/vendedor/net/proposta">Proposta</a>
                            </li>
                            <li {{display_seller_net_pendente_instalacao}} class="submenu-item">
                                <a href="{{URL}}/vendedor/net/pendente-instalacao">Pendente Instalação</a>
                            </li>
                        </ul>
                    </li>

                    <li {{display_seller_vero}} class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-person-lines-fill"></i>
                            <span>Vero</span>
                        </a>
                        <ul class="submenu ">
                            <li {{display_seller_vero_base}} class="submenu-item">
                                <a href="{{URL}}/vendedor/vero/base">Base</a>
                            </li>
                            <li {{display_seller_vero_cancelados}} class="submenu-item">
                                <a href="{{URL}}/vendedor/vero/cancelados">Cancelados</a>
                            </li>
                            <li {{display_seller_vero_pedidos}} class="submenu-item">
                                <a href="{{URL}}/vendedor/vero/pedidos">Pedidos</a>
                            </li>
                        </ul>
                    </li>

                    <li {{display_seller}} class="sidebar-item has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-bar-chart-fill"></i>
                            <span>Resultados</span>
                        </a>
                        <ul class="submenu">
                            <li class="submenu-item ">
                                <a href="{{URL}}/vendedor/resultados/vendas">Vendas</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="{{URL}}/vendedor/resultados/follow">Follow-UP</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="{{URL}}/vendedor/resultados/geral">Geral</a>
                            </li>
                        </ul>
                    </li>

                    <li {{display_called}} class="sidebar-item">
                        <a href="{{URL}}/vendedor/chamados/lista" class='sidebar-link'>
                            <i class="bi bi-telephone-fill"></i>
                            <span>Chamados</span>
                        </a>
                    </li>

                    <li {{display_company}} class="sidebar-title">Pastas</li>

                    {{folders}}

                    <li {{display_adm}} class="sidebar-title">Administrativo</li>

                    <li {{display_adm}} class="sidebar-item has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-file-earmark-excel-fill"></i>
                            <span>Inputs</span>
                        </a>
                        <ul class="submenu ">
                            <li class="submenu-item ">
                                <a href="{{URL}}/adm/input/empresas">Empresas</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="{{URL}}/adm/input/mailings">Mailings</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="{{URL}}/adm/input/fila-bot">Fila Bot Solar</a>
                            </li>
                        </ul>
                    </li>

                    <li {{display_adm}} class="sidebar-item has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-person-badge-fill"></i>
                            <span>Usuário</span>
                        </a>
                        <ul class="submenu ">
                            <li class="submenu-item ">
                                <a href="{{URL}}/adm/usuarios/lista">Usuários</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="{{URL}}/adm/usuarios/chamados/lista">Chamados</a>
                            </li>
                        </ul>
                    </li>

                    <li {{display_adm}} class="sidebar-item  ">
                        <a href="{{URL}}/adm/empresa/lista" class='sidebar-link'>
                            <i class="bi bi-building"></i>
                            <span>Empresa</span>
                        </a>
                    </li>

                    <li {{display_adm}} class="sidebar-item  ">
                        <a href="{{URL}}/adm/mailings/lista" class='sidebar-link'>
                            <i class="bi bi-list-ul"></i>
                            <span>Mailings</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a href="{{URL}}/login/logout" class='sidebar-link'>
                            <i class="bi bi-backspace-fill"></i>
                            <span>Sair</span>
                        </a>
                    </li>

                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
 </div>