<div id="auth">
<div class="row h-100">
    <div class="col-lg-5 col-12">
        <div id="auth-left">
            <div class="auth-logo">
                <a href="{{URL}}"><img src="{{URL}}/resources/assets/images/logo/Genio2.png" alt="Gênio" srcset="" style="width: 300px;height: 240px;"></a>
            </div>
            <h1 class="auth-title">Login</h1>
            <p class="auth-subtitle mb-5">Faça login com seus dados inseridos durante o registro.</p>

            <form method="post">
                {{status}}
                <div class="form-group position-relative has-icon-left mb-4">
                    <input type="email" name="email" class="form-control form-control-xl" placeholder="E-mail">
                    <div class="form-control-icon">
                        <i class="bi bi-person"></i>
                    </div>
                </div>
                <div class="form-group position-relative has-icon-left mb-4">
                    <input type="password" name="password" class="form-control form-control-xl" placeholder="Senha">
                    <div class="form-control-icon">
                        <i class="bi bi-shield-lock"></i>
                    </div>
                </div>
                <div class="form-check form-check-lg d-flex align-items-end">
                    <input class="form-check-input me-2" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label text-gray-600" for="flexCheckDefault">
                        Lembre-me
                    </label>
                </div>
                <button class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Log in</button>
            </form>
            <div class="text-center mt-5 text-lg fs-4">
                <p class="text-gray-600">Não tem uma conta? <a href="{{URL}}/login/users/auth-register" class="font-bold">Cadastre-se</a></p>
                <p><a class="font-bold" href="{{URL}}/login/users/auth-forgot-password">Esqueceu a Senha?</a></p>
            </div>
        </div>
    </div>
    <div class="col-lg-7 d-none d-lg-block">
        <div id="auth-right">

        </div>
    </div>
</div>
</div>
